/LoginPage.class
/Main.class
/UserPage$1.class
/UserPage.class
/maxFrame.class
/RegistrationPage.class
/CheckoutPage.class
/CheckoutPage$1.class
/wallet.class
/wallet$1.class
/wallet$2.class
/Wallet.class
/wallet$3.class
/wallet$4.class
